/**
* @Files
* Insights Page Style.
*/

.insights-listing {
  .btn {
    --bs-btn-color: var(--bs-gray-700);
    --bs-btn-border-color: var(--bs-gray-700);

    font-weight: 400;
  }
  .card-grid {
    &__item {
      figure {
        height: rem(400);
        &::before {
          content: '';
          background-image: linear-gradient(0deg, $blue, rgba(var(--bs-white-rgb), 0));
          @include overlay(1);
        }
        img {
          min-height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    &__category {
      font-weight: 700;
      @include fontSize(20);
      @include media-breakpoint-up(md) {
        @include fontSize(26);
      }
    }
  }
}
