/**
* @Files
* Slider module Style.
*/

.slider {
  &-track {
    will-change: transform;
    @include transition(transform 0.5s ease);
  }
  &-dot {
    display: inline-block;
    width: rem(10);
    height: rem(10);
    background-color: rgba(var(--bs-white-rgb), 0.4);
    margin: 0 rem(12);
    cursor: pointer;
    &.active {
      background: var(--bs-white);
    }
  }
  &-prev,
  &-next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    width: rem(21);
    height: rem(36);
  }
  &-prev {
    background-image: url(../images/icons/slider_left-arrow.svg);
  }
  &-next {
    background-image: url(../images/icons/slider_right-arrow.svg);
  }

  &-prev:disabled,
  &-next:disabled {
    opacity: 0.3;
    cursor: default;
  }

}

.slide {
  flex: 0 0 100%;
}
