/**
* @Files
* Testimonial module Style.
*/

.testimonial-section {
  legend {
    float: none;
    width: auto;
    margin-bottom: 0;
    svg {
      @include media-breakpoint-down(md) {
        width: rem(36);
        height: rem(36);
      }
    }
  }
}
