{% if page.layout == 'homepage' %}
  {% assign footer_class = 'border-top border-bottom pt-5' %}
{% endif %}


<footer class="footer {{ footer_class }} pb-3" aria-label="Footer">
  <div class="container">
    <div class="row justify-content-center justify-content-md-between">
      <div class="col-auto col-md-4 mb-5 mb-md-0">
        <a href="/" class="navbar-brand" aria-current="page">
          <img
            width="185"
            alt="{{ site.data.footer.logo_alt }}"
            src="{% asset_path {{ site.data.footer.logo }} %}"
            loading="lazy">
        </a>
      </div>

      <div class="col-12 col-md-8 col-lg-6 d-flex justify-content-between justify-content-md-end flex-wrap gap-3 gap-md-5">
        {% for block in site.data.footer.columns %}
          <nav class="footer-block col-md-3" aria-labelledby="footer-{{ block.title | downcase | replace: ' ', '-' }}">
            <h2 id="footer-{{ block.title | downcase | replace: ' ', '-' }}" class="text-body-sm text-uppercase text-primary mb-4">
              {{ block.title }}
            </h2>
            <ul class="list-unstyled">
              {% for link in block.links %}
                <li class="my-3">
                  <a href="{{ link.url }}" class="footer-link text-body-sm text-decoration-none">{{ link.label }}</a>
                </li>
              {% endfor %}
            </ul>

            {% if block.socials %}
              <ul class="list-unstyled d-flex gap-3 align-items-center footer-block__social mt-4">
                {% for social in block.socials %}
                  <li>
                    <a href="{{ social.url }}" class="footer-social-link" target="_blank" rel="noopener">
                      <img
                        src="{{ social.img }}"
                        alt="{{ social.alt | default: 'Social link' }}"
                        width="{{ social.width | default: '24' }}"
                        loading="lazy">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>
        {% endfor %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 border-top border-light border-opacity-25 pt-5">
        <form id="form-Newsletter-sign-up" name="form-Newsletter-sign-up"
              action="{{ site.data.footer.newsletter.action }}"
              method="post"
              class="form-newsletter col-md-8 col-lg-5"
              aria-label="Newsletter signup">
          <label for="newsletterEmail" class="form-label mb-2">{{ site.data.footer.newsletter.label }}</label>
          <input
            class="form-control"
            maxlength="256"
            name="newsletterEmail"
            id="newsletterEmail"
            type="email"
            placeholder="{{ site.data.footer.newsletter.placeholder }}"
            required
            autocomplete="email">
          <input
            type="submit"
            class="btn btn-primary btn-lg text-base fw-normal mt-3"
            value="{{ site.data.footer.newsletter.submit_label }}">
          <p class="text-body-xs form-control-plaintext mt-2">{{ site.data.footer.newsletter.privacy_note }}</p>
        </form>
      </div>

      <div class="col-12 mt-6 footer-copyright text-center text-body-sm text-body-secondary">
        <p class="mb-0">{{ site.data.footer.copyright }}</p>
      </div>

    </div>
  </div>
</footer>
