<nav class="navbar nav navbar-expand-lg navbar-dark fixed-top" aria-label="Copyhouse navbar">
  <div class="container">

    <a href="/" aria-current="page" class="navbar-brand">
      <img width="185" alt="CopyHouse logo in colour" src="{% asset_path CopyHouse-Logo.webp %}" loading="lazy" class=""/>
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="headerNavbar">
      {% include nav.html %}
    </div>
  </div>
</nav>
