<div data-animation="default" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
  <div class="container nav-container w-container">
    <a href="/" aria-current="page" class="logo w-nav-brand w--current"><img width="185" alt="CopyHouse logo in colour" src="/assets/images_old/64258141788bb4df753f3050_CopyHouse-Logo.png" loading="lazy" class="image-10"/></a>
    <nav role="navigation" class="nav-menu w-clearfix w-nav-menu">
      <div data-delay="0" data-hover="true" class="nav-dropdown w-dropdown">
        <div class="dropdown-toggle w-dropdown-toggle">
          <div class="w-icon-dropdown-toggle"></div>
          <div>What We Do</div>
        </div>
        <aside class="dropdown-list dropdown-list-2 dropdown-list-3 dropdown-list-4 dropdown-list-5 w-dropdown-list">
          <div class="collection-list-wrapper-2 w-dyn-list">
            <div role="list" class="collection-list-4 w-dyn-items">
              <div role="listitem" class="collection-item-2 w-dyn-item"><a href="/services/content-marketing-strategy-and-consultancy" class="dropdown-link w-dropdown-link">Content Marketing Strategy and Consultancy</a></div>
              <div role="listitem" class="collection-item-2 w-dyn-item"><a href="/services/specialist-content-writing-services" class="dropdown-link w-dropdown-link">Specialist Content Writing Services</a></div>
              <div role="listitem" class="collection-item-2 w-dyn-item"><a href="/services/lp/b2b-social-media-marketing-services" class="dropdown-link w-dropdown-link">Social Media Marketing Services</a></div>
              <div role="listitem" class="collection-item-2 w-dyn-item"><a href="/services/content-design-service" class="dropdown-link w-dropdown-link">Content Design Services</a></div>
              <div role="listitem" class="collection-item-2 w-dyn-item"><a href="/services/pr-services" class="dropdown-link w-dropdown-link">PR Services</a></div>
            </div>
          </div>
        </aside>
      </div>
      <a href="/about-copyhouse" class="nav-link w-nav-link">About Us</a>
      <a href="/case-studies" class="nav-link w-nav-link">Our Work</a>
      <a href="/marketing-insights" class="nav-link w-nav-link">Insights</a>
      <a href="#" class="nav-link hide w-nav-link">B2B Events</a>
      <a href="/contact" class="button menu mobile w-button">Get in touch</a>
    </nav>
    <div data-w-id="e8536559-3377-0ca3-81be-9fbb717c8654" class="menu-button w-nav-button">
      <div class="menu w-icon-nav-menu"></div>
      <img alt="" height="20" src="/assets/images_old/6439779650b96c9535a33051_icons8-close%20(1).svg" loading="lazy" class="close-button"/>
    </div>
    <div class="dropdown-wrapper">
      <div class="columns-2 w-row">
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
          <div class="centre push-20">CopyHouse's Content Marketing Services</div>
        </div>
        <div class="column-2 w-col w-col-6 w-col-small-6 w-col-tiny-6"><a data-w-id="8fb25fca-6cbb-1b64-82b0-b320edae9441" href="#" class="link-2">Close</a></div>
      </div>
      <div class="div-block-19 div-block-20 menu-item-container">
        <div class="collection-list-wrapper w-dyn-list">
          <div role="list" class="menu-item-collection w-clearfix w-dyn-items">
            <div role="listitem" class="menu-items w-dyn-item"><a data-w-id="a1b6aee9-9857-062d-0a03-d5f5c174950c" href="/services/content-marketing-strategy-and-consultancy" class="service-tab w-inline-block"><div style="background-image:url("https://cdn.prod.website-files.com/64258141788bb4a6ff3f3045/64258141788bb42bb93f32a0_content-marketing-whiteboard.png")" class="serv-tab-image content-writing"><div class="gradient-hover orange"></div></div><div class="serv-tab-title"><div>Content Marketing Strategy and Consultancy</div></div></a></div>
            <div role="listitem" class="menu-items w-dyn-item"><a data-w-id="a1b6aee9-9857-062d-0a03-d5f5c174950c" href="/services/specialist-content-writing-services" class="service-tab w-inline-block"><div style="background-image:url("https://cdn.prod.website-files.com/64258141788bb4a6ff3f3045/64258141788bb495733f32a1_content-writing-services.png")" class="serv-tab-image content-writing"><div class="gradient-hover orange"></div></div><div class="serv-tab-title"><div>Specialist Content Writing Services</div></div></a></div>
            <div role="listitem" class="menu-items w-dyn-item"><a data-w-id="a1b6aee9-9857-062d-0a03-d5f5c174950c" href="/services/lp/b2b-social-media-marketing-services" class="service-tab w-inline-block"><div style="background-image:url("https://cdn.prod.website-files.com/64258141788bb4a6ff3f3045/64258141788bb4cf6f3f32a4_designer-working.png")" class="serv-tab-image content-writing"><div class="gradient-hover orange"></div></div><div class="serv-tab-title"><div>Social Media Marketing Services</div></div></a></div>
            <div role="listitem" class="menu-items w-dyn-item"><a data-w-id="a1b6aee9-9857-062d-0a03-d5f5c174950c" href="/services/content-design-service" class="service-tab w-inline-block"><div style="background-image:url("https://cdn.prod.website-files.com/64258141788bb4a6ff3f3045/64258141788bb4e6943f32a2_content-design.png")" class="serv-tab-image content-writing"><div class="gradient-hover orange"></div></div><div class="serv-tab-title"><div>Content Design Services</div></div></a></div>
            <div role="listitem" class="menu-items w-dyn-item"><a data-w-id="a1b6aee9-9857-062d-0a03-d5f5c174950c" href="/services/pr-services" class="service-tab w-inline-block"><div style="background-image:url("https://cdn.prod.website-files.com/64258141788bb4a6ff3f3045/6660322a2f003c4008716339_Body.png")" class="serv-tab-image content-writing"><div class="gradient-hover orange"></div></div><div class="serv-tab-title"><div>PR Services</div></div></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>