<nav class="navbar nav navbar-expand-lg navbar-dark fixed-top" aria-label="Copyhouse main navigation">
  <div class="container">
    <a href="/" class="navbar-brand" aria-current="page">
      <img
        width="185"
        alt="CopyHouse logo in colour"
        src="{% asset_path CopyHouse-Logo.webp /logos %}"
        loading="lazy">
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#headerNavbar"
      aria-controls="headerNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="headerNavbar">
      {% include nav.html %}
    </div>
  </div>
</nav>
