{% assign current_url = page.url | replace: 'index.html', '' %}

<ul class="navbar-nav gap-lg-5 ms-lg-auto align-items-sm-center" role="list">
  {% for item in site.data.navigation %}
    {% assign item_url = item.url | replace: 'index.html', '' %}
    {% assign is_parent_active = false %}

    {% if item.submenu %}
      {%- for sub in item.submenu -%}
        {% assign sub_url = sub.url | replace: 'index.html', '' %}
        {% if current_url == sub_url %}
          {% assign is_parent_active = true %}
        {% endif %}
      {%- endfor -%}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if is_parent_active %}current{% endif %}" href="{{ item.url }}" id="dropdown{{ forloop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ item.name }}
        </a>

        <ul class="dropdown-menu mt-lg-5" aria-labelledby="dropdown{{ forloop.index }}">
          {% for sub in item.submenu %}
            {% assign sub_url = sub.url | replace: 'index.html', '' %}
            <li>
              <a class="dropdown-item {% unless forloop.last %}border-bottom{% endunless %} {% if current_url == sub_url %}current{% endif %}" title="{{ sub.title }}" href="{{ sub.url }}">{{ sub.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>

    {% else %}
      {% assign item_url = item.url | replace: 'index.html', '' %}
      <li class="nav-item">
        <a href="{{ item.url }}" title="{{ item.title }}" class="{% unless forloop.last %}nav-link{% endunless %} {% if forloop.last %}btn btn-white d-none d-lg-block{% endif %} {% if current_url == item_url %}current{% endif %}">
          {{ item.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
