<div class="section large-hero home slant">
  <div class="container w-container">
    <div class="_70-centre"></div>
  </div>
  <div data-poster-url="/assets/images_old/634d4eb4453d980d27bdb5c4_copyhouse-hero-poster-00001.jpg" data-video-urls="/assets/videos_old/64258141788bb46df53f30eb_copyhouse-hero-transcode.mp4,/assets/videos_old/64258141788bb46df53f30eb_copyhouse-hero-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="home-hero-background w-background-video w-background-video-atom">
    <video id="c286f285-9226-bae6-ad88-f2cc5b3c3990-video" autoplay="" loop="" style="background-image:url("/assets/images_old/634d4eb4453d980d27bdb5c4_copyhouse-hero-poster-00001.jpg")" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
      <source src="/assets/videos_old/64258141788bb46df53f30eb_copyhouse-hero-transcode.mp4" data-wf-ignore="true"/>
      <source src="/assets/videos_old/64258141788bb46df53f30eb_copyhouse-hero-transcode.webm" data-wf-ignore="true"/>
    </video>
  </div>
  <div class="home-hero-background-backup"></div>
  <div class="div-block-42">
    <div class="div-block-43">
      <div class="_70-centre-2">
        <h1 class="hero-title-2">Technology <span class="gradient-4">Told Well</span></h1>
        <div>
          <div class="hero-sub-heading centre push-40">We’re a global, award-winning content marketing agency for fast-growing tech brands.</div>
        </div>
        <div class="div-block-44"></div>
        <a href="/contact" class="button-8 home w-button">Get in touch</a>
      </div>
    </div>
  </div>
  <div class="top-black-slant-invert"></div>
</div>