<section class="section contact-section largest-padding pt-lg-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9">
        <div class="p-5 p-md-7 border border-primary bg-black rounded-3">

          <header class="row mb-7 align-items-center">
            <h2 class="col-md-5 mb-4 mb-lg-0">{{ site.data.contact.heading }}</h2>
            <p class="col-md-7 px-md-8 px-lg-12 text-secondary">{{ site.data.contact.description }}</p>
          </header>

          <form class="row g-3" method="POST" action="{{ site.data.contact.formspree_action }}">
            {% for field in site.data.contact.fields %}
              {% assign col_size = '6' %}
              {% if field.type == 'textarea' or field.type == 'email' %}
                {% assign col_size = '12' %}
              {% endif %}

              <div class="col-md-{{ col_size }}">
                <label for="{{ field.id }}" class="form-label">
                  {{ field.label }}{% if field.note %} <span>{{ field.note }}</span>{% endif %}
                </label>

                {% if field.type == 'textarea' %}
                  <textarea
                    name="{{ field.name }}"
                    id="{{ field.id }}"
                    rows="{{ field.rows | default: 4 }}"
                    class="form-control"
                    maxlength="5000"
                    autocomplete="off"
                    {% if field.required %}required{% endif %}>
                  </textarea>
                {% else %}
                  <input
                    type="{{ field.type }}"
                    name="{{ field.name }}"
                    id="{{ field.id }}"
                    class="form-control"
                    maxlength="256"
                    autocomplete="{% if field.autocomplete %}{{ field.autocomplete }}{% else %}off{% endif %}"
                    {% if field.required %}required{% endif %}>
                {% endif %}
              </div>
            {% endfor %}


            <div class="col-md-8">
              <div class="form-check mb-5 mt-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="{{ site.data.contact.checkbox.name }}"
                  id="{{ site.data.contact.checkbox.id }}">
                <label class="form-check-label text-secondary text-body-sm" for="{{ site.data.contact.checkbox.id }}">
                  {{ site.data.contact.checkbox.label }}
                </label>
              </div>
              <div class="form-privacy text-secondary text-body-sm">
                {{ site.data.contact.privacy_note }}
              </div>
            </div>

            <div class="col-md-3 text-center text-md-end mt-5">
              <button type="submit" class="btn btn-primary btn-lg text-base text-uppercase">
                Submit
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
