{% assign entries = include.data_key | default: 'benefits_marketing' %}
{% assign section = page[entries] %}
{% assign data_entries = site.data[entries] %}

<section class="section consultancy-benefits py-lg-12 text-center gradient-purple text-white section-triangle section-triangle--top section-triangle--bottom section-triangle--flip position-relative largest-padding">
  <div class="container">
    <h2 class="mb-3 mb-lg-5">{{ section.h2 }}</h2>
    <div class="row">
      {% for entry in data_entries %}
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <figure class="mb-4 border border-1 border-primary rounded-1 d-inline-block">
          <img
          src="{{ site.assets_path }}/icons/{{ entry.image }}"
          alt="{{ entry.alt | default: entry.title | escape }}"
          loading="lazy"
          width="45"
          height="45"
          class="object-fit-cover w-auto">
        </figure>
        <p class="mb-0">{{ entry.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
