<div class="section largest-padding gradient-purple slant">
  <div class="bottom-black-slant-invert"></div>
  <div class="w-layout-blockcontainer w-container">
    <div class="heading-small margin-bottom-32px">Technology Content Marketing Specialist Agency</div>
    <div class="grey-text-3 max-80 push-60">We stay up-to-date on emerging technologies and make complex ideas simple to understand. Whether you're B2B or B2C, working with CopyHouse will help you say ‘goodbye’ to uncertainty and ‘hello’ to a content marketing strategy that leverages your position in an ever-changing marketplace.</div>
  </div>
  <div class="w-layout-blockcontainer w-container">
    <div class="w-layout-grid grid-11">
      <div>
        <div id="w-node-_064dcd05-70b5-cd66-8d25-fddb01fb0cf6-9189da3a"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/64258141788bb40bcd3f30ef_fintech.png" loading="lazy" alt="" class="image-45"/></div>
      </div>
      <div>
        <div id="w-node-_064dcd05-70b5-cd66-8d25-fddb01fb0cfb-9189da3a"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/64258141788bb430f13f3105_blockchain.png" loading="lazy" alt="" class="image-46"/></div>
      </div>
      <div>
        <div id="w-node-_064dcd05-70b5-cd66-8d25-fddb01fb0d00-9189da3a"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/64258141788bb490193f3106_ai.png" loading="lazy" alt="" class="image-47"/></div>
      </div>
      <div>
        <div id="w-node-_064dcd05-70b5-cd66-8d25-fddb01fb0d05-9189da3a"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/64258141788bb49f423f3107_software-dev.png" loading="lazy" alt="" class="image-44"/></div>
      </div>
      <h4 class="specialism-title-2">Fintech</h4>
      <h4 class="specialism-title-2">Blockchain</h4>
      <h4 class="specialism-title-2">Artificial Intelligence</h4>
      <h4 class="specialism-title-2">Software Development</h4>
    </div>
  </div>
  <div class="top-black-slant-invert"></div>
</div>