<div class="row justify-content-center">
    <div class="col-12 col-lg-11">
      <blockquote class="rounded-5 mt-6 px-6 py-12 position-relative text-bg-dark text-center black-gradient-quote case-study__author">
        <div class="blockquote_body text-body-md fw-bold mb-6">
          <h2>{{ page.author.text }}</h2>
        </div>
        <div class="blockquote_footer fs-6 mt-auto">
          <span class="blockquote_author d-block"><em>{{ page.author.name }}</em></span>
          <span class="blockquote_company d-block">{{ page.author.company }}</span>
        </div>
      </blockquote>
    </div>
  </div>
</div>
