<section class="section-38">
    <div class="w-layout-blockcontainer _4xcards w-container">
        <h2 class="heading-65">Get Started with our Content Marketing Consultancy</h2>
        <p class="paragraph-23">Before you publish your content, you need to have a strong visual identity strategy in
            place. This will help harmonise your content across numerous channels and create a unified appearance.In our
            customised workshop, we’ll help you define the fundamental building blocks which scream your brand’s name.
        </p>
        <div class="div-block-71">
            <div class="div-block-72"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/663241ee479383a9be584fa2_018-google.svg"
                    loading="lazy" alt="" class="image-56">
                <h3 class="cardheading">Core Messaging Workshops</h3>
                <div class="rich-text-block-8 w-richtext">
                    <p>To create hyper-personalised content, we need to take a deep dive into your core messaging, brand
                        story and target audience. We’ll run an online session to explore your:</p>
                    <ul role="list">
                        <li>Brand Story</li>
                        <li>Customer Avatars</li>
                        <li>Market Positioning &amp; Target Markets</li>
                        <li>Purpose-Driven Brand</li>
                        <li>Tone of Voice</li>
                    </ul>
                    <p>Filled with honest advice, our session provides powerful insights into what makes you truly
                        special. You’ll receive a brand book from this workshop that can provide the foundation for all
                        work going forward.</p>
                </div>
            </div>
            <div class="div-block-72"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/6632416430823cbf32d58044_012-drive.svg"
                    loading="lazy" alt="" class="image-56">
                <h3 class="cardheading">Visual Identity Workshops</h3>
                <div class="rich-text-block-8 w-richtext">
                    <p>Before you can represent your brand online, you need to have a strong visual identity. During our
                        visual identity workshop, we’ll help you define the fundamental building blocks for creating an
                        appealing design. We’ll explore:</p>
                    <ul role="list">
                        <li>Design Inspirations</li>
                        <li>Colours</li>
                        <li>Typography</li>
                        <li>Logos</li>
                        <li>Dos and Don’ts</li>
                    </ul>
                    <p>Filled with expert advice and support, our workshop will set the foundations for all future
                        design work. You’ll receive a brand book with all your design preferences.</p>
                </div>
            </div>
            <div class="div-block-72"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/66324207e13081832f613601_003-consulting.svg"
                    loading="lazy" alt="" class="image-56">
                <h3 class="cardheading">Tone of Voice Workshops</h3>
                <div class="rich-text-block-8 w-richtext">
                    <p>Your brand voice should embody everything that’s special about your brand and represent your
                        personality, ethos, and resonate with your target audience.We’ll take you through our unique
                        half-day tone of voice workshop, which will explore:</p>
                    <ul role="list">
                        <li>The audience you are trying to reach</li>
                        <li>The psychology behind your customer avatar</li>
                        <li>Brand Essence &amp; Personality</li>
                        <li>Values</li>
                        <li>Ethos</li>
                        <li>Messaging</li>
                        <li>Tone of Voice</li>
                    </ul>
                    <p>We’ll then deliver a tone of voice guidebook that explains clearly to your team and marketing
                        partners how to communicate with your target audience.</p>
                </div>
            </div>
            <div class="div-block-72"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/663241b48cbb65b15bfd8830_012-dashboard.svg"
                    loading="lazy" alt="" class="image-56">
                <h3 class="cardheading">Content Marketing Strategy</h3>
                <div class="rich-text-block-8 w-richtext">
                    <p>Once we understand the true essence of your business, we’ll transform these insights into a
                        content strategy. As part of our strategy, we’ll research your competitors, industry trends and
                        ‘hot’ topics to present ideas for regular long-form content.We’ll investigate concepts to
                        determine SEO potential and create a content calendar unique to your brand. This calendar will
                        include the following:</p>
                    <ul role="list">
                        <li>Article Summary/Snapshot</li>
                        <li>Content Pillars</li>
                        <li>Target Audience/Market</li>
                        <li>Proposed Title</li>
                        <li>SEO Keywords &amp; Difficulty Ranking</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>