<section class="section our-solution section-triangle section-triangle--bottom section-triangle--top gradient-purple largest-padding" aria-labelledby="solutions-heading">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <div class="our-solution__inner text-center p-6 border border-white bg-dark rounded-5">
          <h2 id="solutions-heading" class="my-5 my-lg-7">{{ site.data.solutions.title }}</h2>

          <ul class="list-unstyled row row-cols-1 row-cols-md-3 row-cols-lg-4 gap-5 gap-lg-3 g-0 justify-content-center">
            {% for item in site.data.solutions.solutions %}
              <li class="col">
                <a href="{{ item.url }}" class="d-block text-decoration-none text-white">
                  <img src="{% asset_path {{ item.image }} /solutions %}" loading="lazy" width="125" alt="{{ item.alt }}">
                  <span class="d-block mt-2">{{ item.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>

          <div class="mt-6">
            <a href="{{ site.data.solutions.button.url }}" class="btn btn-white">
              {{ site.data.solutions.button.text }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
