{%- assign panel = page.image_text[include.index] -%}

{%- if panel -%}
  {%- assign image_align = panel.image_align -%}
	{%- if image_align == "right" -%}
		{%- assign class_reverse = 'flex-md-row-reverse' -%}
	{%- else -%}
		{%- assign class_reverse = '' -%}
	{%- endif -%}

  <section class="section section-image-text py-5 py-lg-10" aria-labelledby="panel-title-{{ include.index }}">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-9">
          <article class="row align-items-center justify-content-between {{ class_reverse }}">
            {%- if panel.image -%}
            <div class="col-12 col-md-6">
              <figure class="rounded-4 overflow-hidden mb-3 mb-md-0">
                <img
                  src="{{ site.assets_path }}/aboutus/{{ panel.image }}"
                  alt="{{ panel.alt | default: panel.title | escape }}"
                  loading="lazy"
                  width="466"
                  height="425"
                  class="w-100"
                >
                {% if panel.image_caption %}
                  <figcaption class="visually-hidden">{{ panel.image_caption }}</figcaption>
                {% endif %}
              </figure>
            </div>
            {%- endif -%}

            <div class="col-12 col-md-5">
              <header>
                <h2 id="panel-title-{{ include.index }}" class="mb-4">{{ panel.title }}</h2>
              </header>

              {% for paragraph in panel.text %}
                {{ paragraph | markdownify | strip | raw }}
              {% endfor %}

              {% if panel.CTA %}
                <a href="{{ site.url }}{{ panel.CTA_url }}" class="btn btn-primary" title="{{ panel.CTA_title | default: 'Contact us' }}">
                  {{ panel.CTA | default: "Get in touch" }}
                </a>
              {% endif %}
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
