{% assign video = page.hero_video %}

<section class="hero-banner text-white text-center d-flex justify-content-center align-items-center position-relative section-triangle--bottom">
  <div class="hero-banner__video h-100 position-absolute z-n1"
    data-poster-url="{% asset_path {{ video.poster }} /{{ video.folder }} %}"
    data-video-urls="{% asset_path {{ video.mp4 }} /{{ video.folder }} %}"
    data-autoplay="{{ video.autoplay }}"
    data-loop="{{ video.loop }}"
    data-wf-ignore="true">

    <video
      autoplay
      loop
      muted
      playsinline
      class="object-fit-cover w-100 h-100 m-auto position-absolute"
      poster="{% asset_path {{ video.poster }} /{{ video.folder }} %}"
      data-wf-ignore="true">

      <source src="{% asset_path {{ video.mp4 }} /{{ video.folder }} %}" type="video/mp4" data-wf-ignore="true">
      <source src="{% asset_path {{ video.webm }} /{{ video.folder }} %}" type="video/webm" data-wf-ignore="true">
    </video>
  </div>

  <div class="hero-banner__content container">
    <h1 class="display-1">
      {{ page.hero.heading }} <span class="gradient-4">{{ page.hero.highlight }}</span>
    </h1>
    <p>{{ page.hero.subheading }}</p>
    <a href="{{ page.hero.cta_url }}" title="{{ page.hero.cta_text }}" class="btn btn-white text-uppercase mt-6">
      {{ page.hero.cta_text }}
    </a>
  </div>
</section>
