<section class="section-35">
    <div class="div-block-58">
        <h2 class="heading-43 left">Latest Insights</h2>
        <div class="collection-list-wrapper-10 w-dyn-list">
            <div role="list" class="collection-list-15 w-dyn-items w-row">
                {% assign latest_insights = site.insights | sort: "date" | reverse %}
                {% for entry in latest_insights limit:3 %}
                <div role="listitem" class="recent-insight w-dyn-item w-col w-col-4">
                    <a href="{{ entry.url }}" class="w-inline-block">
                        <img alt="{{ entry.title }}" loading="lazy" src="{{ entry.image }}" height="270" class="image-54">
                        <h6 class="heading-58">{{ entry.title }}</h6>
                        <p class="paragraph-13">{{ entry.meta_description }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>