{% assign banner = include.banner | default: page.banner %}

{% assign banner_image = banner.image %}
{% assign has_image = banner_image %}
{% if has_image %}
  {% assign padding_class = "padding-x-175" %}
{% endif %}

<section class="section section-banner d-flex {{ padding_class }}"
  {% if has_image %} style="background-image:url('{{ site.assets_path }}/hero/{{ banner_image }}')" {% endif %}
  aria-label="Intro banner">
  <div class="container">
    <div class="row {% unless has_image %}justify-content-center{% endunless %} g-3">
      <div class="col-12 text-light {% if has_image %}col-md-7 text-sm-start{% else %}col-md-9 text-center{% endif %}">
        {%- if banner.caption -%}
        <p>{{ banner.caption }}</p>
        {%- endif -%}
        <h1 class="display-2 section-banner_heading {% if has_image %}mt-3{% else %}mt-4 mb-6{% endif %}">
          {{ banner.h1 | strip }}
        </h1>
        <p class="mb-0 section-banner_subheading">
          {{ banner.p }}
        </p>
      </div>
    </div>
  </div>
</section>
