{% assign whitepaper = page.whitepaper %}

<section class="panel-whitepaper border-bottom border-light rounded-4 py-lg-10 py-8">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-lg-8">
        <div class="panel-whitepaper__head text-white text-white px-lg-7">
          <h2 class="display-4">
            {{ whitepaper.heading }}
          </h2>
          <p>
            {{ whitepaper.description }}
          </p>
          <a href="{{ whitepaper.cta_url}}" class="btn btn-white btn-large">
            {{ whitepaper.cta_text}}
          </a>
        </div>
        <figure class="panel-whitepaper__body mt-5 px-lg-7">
          <img class="rounded-3 opacity-76"
               src="{% asset_path {{ whitepaper.image }} /{{ whitepaper.folder }} %}"
               alt="{{ whitepaper.image_alt }}"
               loading="lazy">
        </figure>
      </div>
    </div>
  </div>
</section>
