<section class="section-38">
    <div class="w-layout-blockcontainer container-49 w-container"><img
            src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/64258141788bb4147b3f307b_targetted-marketing.png"
            loading="lazy" sizes="(max-width: 479px) 191.703125px, (max-width: 767px) 167.796875px, 360.5px"
            srcset="https://cdn.prod.website-files.com/64258141788bb46b413f301f/64258141788bb4147b3f307b_targetted-marketing-p-500.png 500w, https://cdn.prod.website-files.com/64258141788bb46b413f301f/64258141788bb4147b3f307b_targetted-marketing.png 524w"
            alt="A target representing the focus of CopyHouse's marketing" class="image-4">
        <div class="w-layout-blockcontainer w-container">
            <h2 class="heading-62">Great Content Marketing Starts with Strong Strategy</h2>
            <p class="paragraph-22">At CopyHouse, we specialise in creating the perfect content marketing strategy that
                aligns your marketing goals with your business objectives.<br><br>Our work is founded on a rigorous
                understanding of your intentions and your target audience’s buying habits. We also dive into any
                challenges your business and your audience face by creating a strategy to propel your business into the
                future.</p>
        </div>
    </div>
</section>