<section class="section section-location pb-10">
  <div class="container-fluid">
    <h2 class="text-center mb-7">{{ site.data.locations.heading }}</h2>
    <div class="row">
      <div class="col-12">
        <div class="slider-container position-relative overflow-hidden mw-100 m-auto">
          <div class="slider-track row g-lg-10 flex-nowrap">

            {% for location in site.data.locations.location %}
            <div class="col-12 col-md-6 col-lg-4 slide">
              <div class="card rounded-4 rounded-top-0 overflow-hidden">
                <img src="{{ site.assets_path }}/location/{{ location.image }}" loading="lazy" alt="{{ location.name }}" width="440" height="292" />
                <div class="card-body p-4 bg-white text-black">
                  <h3 class="card-title text-primary">{{ location.name }}</h3>
                  <p class="card-text">{{ location.address }}</p>

                  <a href="{{ location.map_link }}" target="_blank" rel="noopener noreferrer" class="btn btn-link text-dark text-decoration-none p-0" aria-label="Get directions on Google Maps">Get Directions {% include svg/right-arrow.html %}</a>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <div class="slider-pagination text-center mt-5"></div>
        </div>
      </div>
    </div>
  </div>
</section>
