{%- assign block = include.data -%}
{%- if block and block.items and block.items.size > 0 -%}
  {%- assign heading_id = block.h2 | default: 'Visual impact' | slugify -%}

  <section class="section section-visual-impact py-5 py-lg-7" aria-labelledby="{{ heading_id }}">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <header class="mb-6">
            <h2 class="h1" id="{{ heading_id }}">{{ block.h2 }}</h2>
          </header>
          <ul class="row g-2 list-unstyled mb-0" role="list">
            {%- for item in block.items -%}
            <li class="col-12 col-md-6 d-flex text-dark mb-4 mb-md-0">
              <article class="d-flex flex-column align-items-center gap-3 p-7 border border-2 border-primary rounded-4 w-100" aria-labelledby="visual-impact-{{ forloop.index }}">
                <figure class="m-0">
                  <img
                    src="{{ site.assets_path }}/services/{{ item.image }}"
                    alt="{{ item.alt | default: item.text | strip | escape }}"
                    loading="lazy"
                    width="274"
                    height="274"
                    role="presentation">
                </figure>
                <p id="visual-impact-{{ forloop.index }}" class="mb-0">{{ item.text }}</p>
              </article>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
