{% assign video = page.hero_video %}

<section class="hero-banner text-white text-center d-flex justify-content-center align-items-center position-relative section-triangle--bottom">
  <div class="hero-banner__video h-100 position-absolute z-n1"
    data-poster-url="{{ site.assets_path }}/{{ video.folder }}/{{ video.poster }}"
    data-video-urls="{{ site.assets_path }}/{{ video.folder }}/{{ video.mp4 }}"
    data-autoplay="{{ video.autoplay }}"
    data-loop="{{ video.loop }}">

    <video
      autoplay
      loop
      muted
      playsinline
      aria-hidden="true"
      role="presentation"
      class="object-fit-cover w-100 h-100 m-auto position-absolute"
      poster="{{ site.assets_path }}/{{ video.folder }}/{{ video.poster }}">

      <source src="{{ site.assets_path }}/{{ video.folder }}/{{ video.mp4 }}" type="video/mp4">
      <source src="{{ site.assets_path }}/{{ video.folder }}/{{ video.webm }}" type="video/webm">
    </video>

  </div>

  <div class="hero-banner__content container">
    <h1 class="display-1">
      {{ page.hero.heading }} <span class="gradient-4">{{ page.hero.highlight }}</span>
    </h1>
    <p>{{ page.hero.subheading }}</p>
    <a href="{{ page.hero.cta_url }}" class="btn btn-white text-uppercase mt-6">
      {{ page.hero.cta_text }}
    </a>
  </div>
</section>
