<section class="section our-technology section-triangle section-triangle--bottom section-triangle--top gradient-purple largest-padding pt-lg-12" aria-labelledby="technologies-heading">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <div class="our-technology__head mx-lg-auto col-lg-11 mb-7">
          <h2 id="technologies-heading" class="text-center my-5">{{ site.data.technology.title }}</h2>
          <p>{{ site.data.technology.subtitle }}</p>
        </div>
        <div class="text-center p-4 border border-white bg-black rounded-4">
          <ul class="grid list-unstyled row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center g-4">
            {% for item in site.data.technology.technologies %}
              <li class="col">
                <div class="text-white h-100 d-grid align-items-center justify-content-center">
                  <img src="{% asset_path {{ item.image }} /ai-images %}" loading="lazy" width="125" alt="{{ item.alt }}" class="img-fluid mx-auto mb-3">
                  <span class="h4 d-block mt-auto mb-0">{{ item.name }}</span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
