<section class="section-25">
    <div class="w-layout-blockcontainer container-50 w-container">
        <div class="columns-18 w-row">
            <div class="column-43 w-col w-col-6">
                <h2 class="heading-51 heading-53"><strong class="heading-65">Discover made-to-measure content marketing
                        from CopyHouse</strong></h2>
                <p class="paragraph-11">Get in touch with our content marketing consultants and find out how our team
                    can help you drive strategic growth that will take your technology or marketing efforts to the next
                    level.</p><a href="https://www.copyhouse.io/contact" class="primary-button w-button">Get in
                    touch</a>
            </div>
            <div class="column-44 w-col w-col-6"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/64bfe9c8f0fe26706ad9ac04_64ba731da6007c4cfed20239_Article%20images%20(1).png"
                    loading="lazy" width="Auto"
                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 85vw, (max-width: 991px) 344px, 450px" alt=""
                    srcset="https://cdn.prod.website-files.com/64258141788bb46b413f301f/64bfe9c8f0fe26706ad9ac04_64ba731da6007c4cfed20239_Article%20images%20(1)-p-500.png 500w, https://cdn.prod.website-files.com/64258141788bb46b413f301f/64bfe9c8f0fe26706ad9ac04_64ba731da6007c4cfed20239_Article%20images%20(1)-p-800.png 800w, https://cdn.prod.website-files.com/64258141788bb46b413f301f/64bfe9c8f0fe26706ad9ac04_64ba731da6007c4cfed20239_Article%20images%20(1).png 940w"
                    class="image-57"></div>
        </div>
    </div>
</section>