
{% assign has_image = page.image %}
{% if page.layout == "case-study" %}
  {% assign image_folder = "case-studies" %}
{% else %}
  {% assign image_folder = "insights" %}
{% endif %}

<section class="section section-banner section-banner__details position-relative"
  {% if has_image %}
    style="background-image: url('{% asset_path {{ has_image }} {{ image_folder }} %}')"
  {% endif %}
  aria-label="{{ page.title | escape }}">

  <div class="container mt-auto position-relative z-1">
    <div class="row justify-content-center g-3">

      <div class="col-12 col-lg-11 d-md-flex justify-content-between align-items-end mt-7">
        <header class="col-md-6">
          <h1 class="section-banner__title mb-5 mb-md-0">{{ page.title }}</h1>
        </header>

        {% if page.logo and page.logo != "" %}
        <figure class="col-md-6 section-banner__logo rounded-4 px-3 px-lg-4 d-flex justify-content-center align-items-center"
                style="background-color: {{ page.logo_bg_color | default: 'var(--bs-white)' }}">
          <img src="{% asset_path {{ page.logo }} /case-studies/logos %}"
               alt="{{ page.title }} logo"
               class="img-fluid"
               loading="lazy">
        </figure>
        {% endif %}
      </div>

      <div class="col-12 col-lg-11 mt-6">
        {% include components/panel_social_share.html %}
      </div>

    </div>
  </div>
</section>
