{%- assign panel = page.panels_image_text[include.index] -%}

{%- if panel -%}
	{%- assign is_even = include.index | modulo: 2 -%}
	{%- if is_even == 0 -%}
		{%- assign class_reverse = 'flex-md-row-reverse' -%}
	{%- else -%}
		{%- assign class_reverse = '' -%}
	{%- endif -%}

  <section class="section section-image-text py-7" aria-labelledby="panel-title-{{ include.index }}">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-9">
          <article class="row align-items-center justify-content-between {{ class_reverse }}">
            <div class="col-12 col-md-6">
              <figure>
                <img
                  src="{% asset_path {{ panel.image }} /aboutus %}"
                  alt="{{ panel.alt | default: panel.title | escape }}"
                  loading="lazy"
                  width="466"
                  height="425"
                  class="img-fluid"
                >
                {%- if panel.image_caption -%}
                  <figcaption class="visually-hidden">{{ panel.image_caption }}</figcaption>
                {%- endif -%}
              </figure>
            </div>

            <div class="col-12 col-md-5">
              <header>
                <h2 id="panel-title-{{ include.index }}" class="h3">{{ panel.title }}</h2>
              </header>
              <p>{{ panel.text }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
