<section class="section-40">
    <div class="div-block-73">
        <h1 class="heading-67">Benefits of Content Marketing Consultancy</h1>
        <div class="div-block-75">
            <div class="div-block-74"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/66316324b17edc05c19f9427_002-barrier.svg"
                    loading="lazy" alt="" class="white-icon">
                <div class="cardheading-light">Overcome roadblocks &amp; challenges</div>
            </div>
            <div class="div-block-74"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/6631632435dfa5a0f619add3_012-dashboard%20(1).svg"
                    loading="lazy" alt="" class="white-icon">
                <div class="cardheading-light">Identify opportunities for future growth</div>
            </div>
            <div class="div-block-74"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/6631632458a5cabef79188aa_002-brand%20identity%20(1).svg"
                    loading="lazy" alt="" class="white-icon">
                <div class="cardheading-light">Strengthen visual brand identity</div>
            </div>
            <div class="div-block-74"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/6631632436a0b7f65c603c17_007-chat.svg"
                    loading="lazy" alt="" class="white-icon">
                <div class="cardheading-light">Drive conversions with better online conversations</div>
            </div>
            <div class="div-block-74"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/66316324053a54ed4cf9155e_021-planning%20(1).svg"
                    loading="lazy" alt="" class="white-icon">
                <div class="cardheading-light">Build strong foundations for future marketing success</div>
            </div>
            <div class="div-block-74"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/663163249340237d842d61e5_007-endorsement.svg"
                    loading="lazy" alt="" class="white-icon">
                <div class="cardheading-light">Understand your brand &amp; target audience</div>
            </div>
            <div class="div-block-74"><img
                    src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/663163242450f1bc16ee3785_019-popularity%20(1).svg"
                    loading="lazy" alt="" class="white-icon">
                <div class="cardheading-light">Establish long-lasting relationships</div>
            </div>
        </div>
    </div>
</section>