<section class="section section-location pb-10">
  <div class="container-fluid">
    <h2 class="text-center mb-7">{{ site.data.locations.heading }}</h2>
    <div class="row">
      <div class="col-12">
        <div class="slider-container position-relative overflow-hidden mw-100 m-auto">
          <div class="slider-track row g-lg-10 flex-nowrap">

            {% for location in site.data.locations.location %}
            <div class="col-12 col-md-6 col-lg-4 slide">
              <div class="card rounded-4 rounded-top-0 overflow-hidden">
                <img src="{{ location.image }}" loading="lazy" alt="{{ location.name }}" />
                <div class="card-body p-4 bg-white text-black">
                  <h3 class="card-title text-primary">{{ location.name }}</h3>
                  <p class="card-text">{{ location.address }}</p>
                  <a href="{{ location.map_link }}" target="_blank" class="btn btn-link text-dark text-decoration-none p-0">
                    Get Directions
                    <span class="ms-1">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.72 15L16.3472 10.357C16.7732 9.92932 16.7732 9.23603 16.3472 8.80962L11.72 4.16667L10.1776 5.71508L12.9425 8.4889H4.16669V10.6774H12.9425L10.1776 13.4522L11.72 15Z" fill="currentColor"/>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <div class="slider-pagination text-center mt-5"></div>
        </div>
      </div>
    </div>
  </div>
</section>
