<div class="section large-padding gradient-purple slant">
  <div class="container above w-container"></div>
  <div class="w-layout-blockcontainer w-container">
    <div class="quote-block">
      <div class="quote first">
        <div class="quote-top"></div>
        <div class="quote-inner">
          <div class="quote-text push-40">Open banking is a relatively new technology that some may struggle to understand fully. We wanted to partner with an agency that could grasp the complexity of the topic. CopyHouse demonstrated a strong ability to turn high-tech subjects into digestible content, which made them the perfect fit for us.</div>
          <div class="quote-bottom">
            <div class="quote-byline">Elias Pitsavos</div>
            <div class="quote-byline-company">Klarna</div>
          </div>
        </div>
      </div>
      <div class="quote">
        <div class="quote-top"></div>
        <div class="quote-inner">
          <div class="quote-text push-40">You’re feeding our thought process and capturing the [...] personality perfectly - it’s really refreshing for us here<strong>.</strong></div>
          <div class="quote-bottom">
            <div class="quote-byline">Joanna Brunt</div>
            <div class="quote-byline-company">Travelex</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>