<section class="py-5 py-lg-9 servides-listing gradient-purple">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-11">
        <h2 class="text-white mb-7">Discover Our Award-Winning </br> Content Marketing Services</h2>
        <div class="row">
          {%- assign panel = site.data.services_listing -%}
          {% for entry in panel %}
          <div class="col-md-6 col-12">
            <div class="servides-listing__card rounded-4 overflow-hidden mb-4">
              <figure>
                <img class="object-fit-cover w-100" src="{{ site.assets_path }}/services/{{ entry.image }}" alt="{{ entry.alt }}" style="height: 200px;">
              </figure>
              <div class="servides-listing__content py-4 px-7 bg-white">
                {% if entry.title %}
                <h3 class="mb-5 h5"> {{ entry.title }} </h3>
                {% endif %}

                {% for paragraph in entry.description %}
                  {{ paragraph | markdownify | strip | raw }}
                {% endfor %}

                {% if entry.link %}
                  <a href="{{ entry.url }}" class="btn btn-primary mt-6"> {{ entry.link }} </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
