<section class="panel-client mt-5">
  <div class="container">
    <h2 class="text-center text-white h4">{{ page.panel_client.heading }}</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
        <ul class="row list-unstyled align-items-center mt-5">
          {% for item in site.data.clients %}
            <li class="col p-3">
              <img src="{% asset_path {{ item.image }} /logos %}" loading="lazy" width="140" alt="{{ item.alt }}">
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
