<div style="background-image:url('{{ page.image }}')" class="section hero case-study slant">
  <div class="container w-container">
    <div class="case-study-hero">
      <div class="case-study-hero-column">
        <h1 class="heading-3">{{ page.title }}</h1>
      </div>
      {% if page.logo and page.logo != "" %}
      <div class="case-study-hero-column">
        <div style="background-color:white" class="client-logo">
          <div style="background-image:url('{{ page.logo }}')" class="client-logo-inner"></div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="purple-overlay"></div>
  <div class="case-study-share relative-above">
    <div class="share-buttons">
      <div class="share-button">
        <div class="share">Share</div><img src="/assets/images_old/64258141788bb42ffb3f30e1_twitter.svg" loading="lazy"
          alt="" class="social-share-icon">
        <div class="social-share-code w-embed"><a class="w-inline-block social-share-code"
            href="https://twitter.com/intent/tweet?" target="_blank" alt="Tweet This" title="Tweet"
            onclick="window.open('https://twitter.com/intent/tweet?text=%20Check this out! ' + encodeURIComponent(document.URL) + '&amp;t=' + encodeURIComponent(document.URL), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"></a>
        </div>
      </div>
      <div class="share-button">
        <div class="share">Share</div><img src="/assets/images_old/64258141788bb43aa33f30e2_linkedin.svg" loading="lazy"
          alt="" class="social-share-icon">
        <div class="social-share-code w-embed"><a class="w-inline-block social-share-code"
            href="http://www.linkedin.com/shareArticle?mini=true&amp;url=&amp;title=&amp;summary=&amp;source="
            target="_blank" title="Share on LinkedIn"
            onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=' + encodeURIComponent(document.URL) + '&amp;t=' + encodeURIComponent(document.URL), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=600'); return false;">
          </a></div>
      </div>
      <div class="share-button">
        <div class="share">Share</div><img src="/assets/images_old/64258141788bb476e43f30e3_facebook.svg" loading="lazy"
          alt="" class="social-share-icon">
        <div class="social-share-code w-embed"><a class="w-inline-block social-share-code"
            href="https://www.facebook.com/sharer/sharer.php?u=&amp;t=" title="Share on Facebook" target="_blank"
            onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&amp;t=' + encodeURIComponent(document.URL), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); 
return false;"></a></div>
      </div>
    </div>
  </div>
</div>