{%- assign panel = page.image_text_large -%}

{%- if panel.image -%}
  {%- assign grid_class = 'col-md-8' -%}
{%- else -%}
  {%- assign grid_class = 'col-md-10' -%}
{%- endif -%}

{%- if panel -%}
  {%- assign image_align = panel.image_align -%}
	{%- if image_align == "right" -%}
		{%- assign class_reverse = 'flex-md-row-reverse' -%}
	{%- else -%}
		{%- assign class_reverse = '' -%}
	{%- endif -%}

  <section class="section section-image-text__large py-5 py-lg-9" aria-labelledby="panel-title-large-image">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9 text-dark">
          <article class="row {{ class_reverse }}">
            {%- if panel.image -%}
            <div class="col-12 col-md-4 text-center">
              <figure>
                <img
                  src="{{ site.assets_path }}/{{ panel.image_folder }}/{{ panel.image }}"
                  alt="{{ panel.alt | default: panel.title | escape }}"
                  loading="lazy"
                  width="320"
                  height="250"
                  class="mt-4 mb-5 mb-md-0"
                >
                {% if panel.image_caption %}
                  <figcaption class="visually-hidden">{{ panel.image_caption }}</figcaption>
                {% endif %}
              </figure>
            </div>
            {%- endif -%}

            <div class="col-12 {{ grid_class }}">
              <header>
                <h2 id="panel-title-large-image" class="h1 mb-5">{{ panel.title }}</h2>
              </header>

              {% for paragraph in panel.text %}
                {{ paragraph | markdownify | strip | raw }}
              {% endfor %}

              {% if panel.CTA %}
                <a href="{{ site.url }}{{ panel.CTA_url }}" class="btn btn-primary" title="{{ panel.CTA_title | default: 'Get in touch' }}">
                  {{ panel.CTA | default: "Get in touch" }}
                </a>
              {% endif %}
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
