{%- assign panel = page.winning_formula -%}
{%- assign data_entries = site.data.services_winning_formula -%}

{%- if panel -%}
  <section class="section section-winning-formula pt-10 pb-8 text-bg-dark" aria-labelledby="winning-formula-title-{{ include.index }}">
    <div class="container">
      <div class="row justify-content-center g-md-0">
        <div class="col-12 col-md-10">
          <h2 id="winning-formula-title-{{ include.index }}" class="text-center mb-8">
            <span class="d-block mb-3">{{ panel.h2 }}</span>
            {%- for title in data_entries.title -%}
              {{ title }}
              {%- unless forloop.last -%}
                <span class="mx-5">{% include svg/plus.html %}</span>
              {%- endunless -%}
            {%- endfor -%}
          </h2>

          <div class="row align-items-center">
            <div class="col-md-6 text-center">
              <img src="{{ site.assets_path }}/ai-images/{{ data_entries.image }}" width="235" alt="">
            </div>
            <div class="col-md-6">
              {% for paragraph in data_entries.text %}
                {{ paragraph | markdownify | strip | raw }}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{%- endif -%}
