<section class="section testimonial-section pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-11 col-lg-9">
        <div class="row justify-content-between g-9 g-md-6">
          {% for item in site.data.testimonials %}
          <div class="col-12 col-lg-6 d-flex">
            <blockquote class="d-flex flex-column mb-0 border border-white rounded-3 p-6 position-relative">
              <div class="blockquote_body text-body-md fw-bold mb-4">
                <p>{{ item.text }}</p>
              </div>
              <div class="blockquote_footer fs-6 text-uppercase mt-auto">
                <span class="blockquote_author d-block fw-bold">{{ item.author }}</span>
                <span class="blockquote_company d-block">{{ item.company }}</span>
              </div>
            </blockquote>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
