<div class="section largest-padding gradient-purple slant">
  <div class="bottom-black-slant-invert"></div>
  <div class="w-layout-blockcontainer container-28 w-container">
    <div class="formula-block home-pull">
      <div class="w-layout-blockcontainer container-27 w-container">
        <h2 class="h1-white">Our Content Marketing Solutions</h2>
        <div class="our-solution w-row">
          <div class="column-34 w-col w-col-3"><a href="https://www.copyhouse.io/services/content-marketing-strategy-and-consultancy" class="features-block w-inline-block"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/650af0fc2161dda0eed60912_Artboard%202%402x.png" loading="lazy" width="125" alt="" class="image-32"/><div class="text-block-33">Content Marketing Strategy </div></a></div>
          <div class="column-33 w-col w-col-3"><a href="https://www.copyhouse.io/services/specialist-content-writing-services" class="features-block w-inline-block"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/650af0fc2161dda0eed60914_Artboard%202%20copy%402x.png" loading="lazy" width="125" alt="" class="image-33"/><div class="text-block-34">Specialist Content Writing</div></a></div>
          <div class="column-32 w-col w-col-3"><a href="https://www.copyhouse.io/services/lp/b2b-social-media-marketing-services" class="features-block w-inline-block"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/650af0fc2161dda0eed60916_Artboard%202%20copy%202%402x.png" loading="lazy" width="125" alt="" class="image-31"/><div class="text-block-31">Social Media Marketing</div></a></div>
          <div class="column-32-copy w-col w-col-3"><a href="https://www.copyhouse.io/services/content-design-service" class="features-block w-inline-block"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/650af0fc2161dda0eed60918_Artboard%202%20copy%203%402x.png" loading="lazy" width="125" alt="" class="image-34"/><div class="text-block-32">Branding and Design</div></a></div>
        </div>
        <div class="w-layout-blockcontainer container-52 w-container">
            <a href="https://www.copyhouse.io/services/pr-services" class="features-block w-inline-block"><img src="https://cdn.prod.website-files.com/64258141788bb46b413f301f/6630fae7b55addd778f08997_64258141788bb4147b3f307b_targetted-marketing-p-500.png" loading="lazy" width="125" alt="" class="image-34"/><div class="text-block-32">PR Services</div></a>
        </div>
      </div>
      <div class="w-layout-blockcontainer container-26 w-clearfix w-container">
          <a href="https://www.copyhouse.io/services/content-marketing-solutions" class="button-6 w-button">Find Out More</a>
      </div>
    </div>
  </div>
  <div class="top-black-slant-invert"></div>
</div>