<!doctype html>
<html lang="en-GB">
{% include head.html %}

<body class="bg-black">
  <a class="skip-main btn" href="#main-content">Skip to main content</a>
  {% include header.html %}

  <main id="main-content">
    {% include components/panel_banner_detail.html %}

    <section class="section case-study-details text-bg-light py-5 py-sm-10 text-center text-sm-start" aria-labelledby="case-studies-heading">
      <h2 id="case-studies-heading" class="visually-hidden">{{ page.title }}</h2>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9 rich-text">
            {{ content }}
          </div>
        </div>
      </div>
    </section>

    {% include components/panel_related_case_study.html %}

  </main>

  {% include footer.html %}

</body>
</html>
