<!doctype html>
<html lang="en-GB">

{% include head.html %}

<body>
  {% include header.html %}

  <main>
    {% include components/panel_banner.html %}

    <section class="section case-studies-listing largest-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-xl-11">
            <ul class="row list-unstyled">
    
              {% assign studies = site.case-studies | sort: "date" | reverse %}
              {% for entry in studies %}
    
              <li class="col-lg-6 col-12 mb-5">
                <article>
                  <div class="case-studies-listing__img d-flex justify-content-center align-items-center rounded-4" style="background-image:url('{{ entry.image }}')">
                    <figure class="rounded-4 p-4 d-flex justify-content-center align-items-center" style="background-color:white">
                      <img src="{{ entry.logo }}" alt="">
                    </figure>
                  </div>
                  <div class="case-studies-listing__content p-4 d-flex align-items-start flex-column">
                    <h2 class="mb-5">{{ entry.title }}</h2>
                    <p>{{ entry.summary }}</p>
                    <a href="{{ entry.url }}" class="btn btn-primary mt-auto">Read case study</a>
                  </div>
                </article>
              </li>
    
              {% endfor %}
    
            </ul>
          </div>
        </div>
        <div class="text-center">
          <a href="" class="btn btn-transparent">Load More</a>
        </div>
      </div>
    </section>
    
      {% include components/panel_contact_form.html class="gradient-dark-grey" %}

  </main>

  {% include footer.html %}

</body>

</html>