<!doctype html>
<html lang="en-GB">

{% include head.html %}

<body>
  {% include header.html %}

  <main>
    {% include components/panel_banner.html %}

    <div class="section_blog-post">
      <div class="padding-global">
        <div class="container-large">
          <div class="padding-section-large">
            <div class="blog-post_component">
              <div class="blog-post_content-wrapper">
                <div class="blog-post_content">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  {% include footer.html %}

</body>

</html>