<!doctype html>
<html lang="en-GB">
{% include head.html %}

<body class="bg-dark">
  <a class="skip-main btn" href="#main-content">Skip to main content</a>
  {% include header.html %}

  <main id="main-content">
    {% include components/panel_hero.html %}
    {% include components/panel_intro.html %}
    {% include components/panel_solutions.html %}
    {% include components/panel_whitepaper.html %}
    {% include components/panel_clients.html %}
    {% include components/panel_testimonials.html %}
    {% include components/panel_work.html %}
    {% include components/panel_specialisms.html %}
    {% include components/panel_contact_form.html %}
    {% include components/panel_locations.html %}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}" crossorigin="anonymous"></script>

</body>

</html>
