<!doctype html>
<html lang="en-GB">
{% include head.html %}

<body>
  <a class="skip-main btn" href="#main-content">Skip to main content</a>

  {% include header.html %}

  <main class="transition--fade" id="main-content">
    {% include components/panel_banner.html %}

    <section id="insights" class="section insights-listing bg-light card-grid text-dark py-9">
      <h1 class="visually-hidden">{{ page.title }}</h1>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9">
            {% include components/panel_insights_listing.html %}
          </div>
        </div>
      </div>
    </section>

    {% include components/panel_contact_form.html %}

  </main>

  {% include footer.html %}

</body>
</html>
