<!doctype html>
<html lang="en-GB">

{% include head.html %}

<body class="text-bg-light">
  {% include header.html %}

  <main>
    {% include components/panel_hero.html %}
    {% include components/panel_intro.html %}

    {% include components/panel_image_text.html index=0 %}
    {% include components/panel_image_text.html index=1 %}

    {% include components/panel_values.html %}

    {% include components/panel_image_text.html index=2 %}

    {% include components/panel_contact_form.html %}

  </main>

  {% include footer.html %}

</body>

</html>