<!doctype html>
<html lang="en-GB">

{% include head.html %}

<body class="body-2">
  {% include header.html %}

  <main>
    {% include components/panel_banner.html %}

    {% assign panel_index = 0 %}
    {% include components/panel_image_text.html index=panel_index %}
    {% increment panel_index %}

    {% include components/panel_image_text.html index=panel_index %}
    {% increment panel_index %}

    {% include components/panel_icongrid.html %}

    {% include components/panel_image_text.html index=panel_index %}
    {% increment panel_index %}

    {% include components/panel_contact_form.html %}

  </main>

  {% include footer.html %}

</body>

</html>