<!doctype html>
<html lang="en-GB">

{% include head.html %}

<body class="text-bg-light">
  {% include header.html %}

  <main>
    {%- if page.banner.top -%}
      {% include components/panel_banner.html banner=page.banner.top %}
    {%- elsif page.banner -%}
      {% include components/panel_banner.html banner=page.banner %}
    {%- endif -%}

    {%- if page.image_text_large -%}
      {% assign panel_index = 0 %}
      {% include components/panel_image_text_large.html index=panel_index %}
    {%- endif -%}

    {% assign content_keys = "content_marketing,content_PR_services,content_design_service" | split: "," %}
    {% for key in content_keys %}
      {% if page[key] %}
        {% include components/panel_content_marketing.html data_key=key %}
      {% endif %}
    {% endfor %}

    {%- if page.banner.middle -%}
      {% include components/panel_banner.html banner=page.banner.middle %}
    {%- endif -%}
    
    {% assign benefit_keys = "benefits_marketing,benefits_PR_services,benefits_content_design" | split: "," %}
    {% for key in benefit_keys %}
      {% if page[key] %}
        {% include components/panel_grid_benefits.html data_key=key %}
      {% endif %}
    {% endfor %}

    {% assign benefit_keys = "benefits_SCW_services" | split: "," %}
    {% for key in benefit_keys %}
      {% if page[key] %}
        {% include components/panel_grid_marketing_benefits.html data_key=key %}
      {% endif %}
    {% endfor %}

    {%- if page.image_text -%}
      {% assign panel_index = 0 %}
      {% include components/panel_image_text.html index=panel_index %}
    {%- endif -%}

    {%- if page.testimonials_highlight -%}
    {% include components/panel_testimonials_highlight.html %}
    {%- endif -%}

    {%- if page.visual_impact -%}
    {% include components/panel_visual_impact.html data=page.visual_impact %}
    {%- endif -%}

    {%- if page.portfolio -%}
    {% include components/panel_portfolio.html data=page.portfolio %}
    {%- endif -%}

    {% include components/panel_insights.html %}

  </main>

  {% include footer.html %}

</body>

</html>