<!doctype html>
<html lang="en-GB">

{% include head.html %}

<body class="body">
  {% include header.html %}

  <main>
    {% include components/panel_banner_image.html %}

    {% include components/panel_grid_headline.html %}

    {% include components/panel_grid_benefits.html %}

    {% include components/panel_image_text_cta.html %}

    {% include components/panel_testimonials_highlight.html %}

    {% include components/panel_insights.html %}

  </main>

  {% include footer.html %}

</body>

</html>