/**
 * @Files
 * Footer Style.
*/

.footer {
  &-link {
    color: var(--bs-white);
    text-shadow: 0 1px 1px rgba(var(--bs-block-rgb), 0.3);
    &:hover {
      color: var(--bs-orange);
    }
  }
  .footer-social-link {
    &:hover {
      filter: brightness(0) saturate(100%) invert(84%) sepia(32%) saturate(7038%) hue-rotate(341deg) brightness(100%) contrast(97%);
    }
  }
}
